.oreng-bg{
 padding-top: 80px;

 border-radius: 8px;  
}
.background1{
 height: 205px;
 width: 205px;
 transform: translateY(320px);
}
.background2{
  height: 400px;
  width: 70px;
  transform: translateY(80px);
   margin-left: 75px;
}

.section{
  height: 600px;
}
#carouselExampleRide{
  width: 100%;

  p{
    width: 80%;
    text-align: justify;
    
  }
}
.slider-bg{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.second{
 position: absolute;
 top: 20px;
 
}


.button{
     background-color: black;
     color: aliceblue;
     border: none;
     border-radius: 8px;
     padding: 9px 25px;
     cursor: pointer;
}
 
.card{
  border: none;
  box-shadow: 5px 5px 10px lightgray;
}
#see{
  border: none;
  color: orange;
 background-color: white;

}
.card-body{
  padding-left: 110px;
  
}
 .end{
  text-align: end;
} 
#laptop{
  padding-top: 80px;
}


.center{
  text-align: center;
  padding-top: 80px;
}
.line{
  height: 3px;
  width: 100px;
  background-color:orange;
 margin-left: 600px;
 
}






.all{
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px auto;
}
.first-half{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px auto;
}
 .box{
  margin: 0px 45px 35px 0px;
  border: 1px solid whitesmoke;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 20px;
  height: 315px;
  width: 290px;
  
} 


 .padding{
 margin: 80px;
 }
 .bag{
  
  padding-top: 180px;
 } 
 h2{
  text-align: center;
 }